<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Мой сайт</title>
</head>
<body>
    <h3>Добро пожаловать, {{user}}.</h3>
    {%for foo in user2%}
        {% if foo.is_voted == False %}
            <a href="/vote">Принять участие в голосовании</a>
        {% endif %}

        {% if foo.is_voted == True %}
            <h3>Вы уже проголосовали, пожалуйста, ожидайте пока остальные участники сделают свой выбор.</h3>
            <a href="/kondorse">Просмотреть текущие результаты оценки</a>
        {% endif %}
    {%endfor%}
    <a href="/logout">Сменить пользователя</a>
    {% if a1 %}
    <a href="/">Вернуться в личный кабинет</a>
    <h3>{{response}}</h3>
    <h3>{{arr}}</h3>
    <h3>Сколько проголосовало за первые комплектующие - {{a1}}</h3>
    <h3>Сколько проголосовало за вторые комплектующие - {{a2}}</h3>
    <h3>Сколько проголосовало за третьи комплектующие - {{a3}}</h3>
    {% endif %}
</body>
</html>
