<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Личный кабинет</title>
    <style>body{display: flex; flex-direction: column; align-items:center}</style>
</head>
<body>
    {% if not a3 %}
    <h3>Добро пожаловать, {{user}}.</h3>
    {% endif %}
    {%for foo in user2%}
        {% if foo.is_voted == False%}
            <a href="/vote">Принять участие в голосовании</a>
        {% endif %}
        {% if foo.is_voted == True %}
            <h3>Вы уже проголосовали, пожалуйста, ожидайте пока остальные участники сделают свой выбор.</h3>
            <a href="/kondorse">Просмотреть текущие результаты оценки</a>
        {% endif %}
    {%endfor%}
    {% if not a3 %}
    <br>
    <a href="/part">Просмотреть информацию о комплектующих</a>
    <br>
    <a href="/logout">Сменить пользователя</a>
    {% endif%}
    {% if a1 %}
    <a href="/">Вернуться в личный кабинет</a>
    <h3>{{response}}</h3>
    <h3>{{arr0}}</h3>
    <h3>{{arr1}}</h3>
    <h3>{{arr2}}</h3>
    <h3>Сколько очков имеет комплектующее A - {{a1}}</h3>
    <h3>Сколько очков имеет комплектующее B - {{a2}}</h3>
    <h3>Сколько очков имеет комплектующее C - {{a3}}</h3>
    {% endif %}
</body>
</html>
