{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Каталог комплектующих</title>
    <style>body{display: flex; flex-direction: column; align-items:center}</style>
</head>
<body>
    <a href="/">Вернуться в личный кабинет</a>
    <br>
    <a href="/part_ordered_name">Отсортировать по названию</a>
    <br>
    <a href="part_ordered_price">Отсортировать по возрастанию цены</a>
    <br>
    <a href="part_filtrated">Вывести комплектующие, стоимость которых меньше 100</a>
    {%for part in parts%}
        <h2>Название комплектующего: {{part.name}}</h2>
        <h3>{{part.description}}</h3>
        <h3>Цена: {{part.price}}</h3>
        <br>
    {%endfor%}
</body>
</html>
