<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Голосование</title>
  </head>
  <body>
    <a href="/">Вернуться в личный кабинет</a>
    {%for foo in vote%}
      <h3>{{foo.partA.name}}</h3>
      <h3>Описание: {{foo.partA.description}}</h3>
      <h3>Цена комплектующего: {{foo.partA.price}}</h3>
      <h3>{{foo.partB.name}}</h3>
      <h3>Описание: {{foo.partB.description}}</h3>
      <h3>Цена комплектующего: {{foo.partB.price}}</h3>
      <h3>{{foo.partC.name}}</h3>
      <h3>Описание: {{foo.partC.description}}</h3>
      <h3>Цена комплектующего: {{foo.partC.price}}</h3>
    {%endfor%}
    <form method="POST">
      {% csrf_token %}
      {% comment %} <table> {% endcomment %}
        {{ form }}
      {% comment %} </table> {% endcomment %}
      <input type="submit" value="Send" />
    </form>
    
  </body>
</html>
